
body{
   /* //animation-name: back;
    //animation-duration: 30s;*/
    background-image: url(jmyassets/images/pl3.jpg);
    background-repeat: no-repeat;
    background-position: right center;
        margin-rigt:200px;
    background-color: darkorange;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
/* Slideshow container */
.slideshow-containe {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #111;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #111;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #111;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opaSite: .4} 
  to {opaSite: 1}
}

@keyframes fade {
  from {opaSite: .4} 
  to {opaSite: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@keyframes back{
    0% {background-image: url(assets/img/pl3.jpg);}
    20% {background-image:url(assets/img/pl1.jpg);}
    35% {background-image: url(assets/img/pl3.jpg);}
    50% {background-image: url(assets/img/pl3.jpg);}
    70% {background-image: url(assets/img/pl3.jpg);}
    85% {background-image: url(assets/img/pl3.jpg);}
    100% {background-image: url(assets/img/pl2.jpg);}
}
header{
    padding: 0.009em;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 3px 2px grey;
    text-decoration: aquamarine;
    
    background-color:rgba(50, 50, 50, 0.5);
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite; 
}
footer {
    padding: 1em;
    height:100%;
    margin: 0;
    color: white;
    clear: left;
    text-align: center;
    
    background-color: rgba(50, 50, 50, 0.5);
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: rgba(50, 50, 50, 0.5);}
    to {background-color: goldenrod;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: goldenrod;}
    to {background-color: rgba(50, 50, 50, 0.5);}
}
#heading{
    padding: 1em;
    color: white;
    background-color: rgba(50, 50, 50, 0.5);
    text-align: inherit;
}
#heading a{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 4px grey;
    font-size: 20px;
    font-weight: bold;
    width: 10px;
}
#heading a:hover{
    background-color: green;
}
section{
    float: left;
    max-height: 800px;
    width: 600px;
    margin: 0;
    padding: 0;
}
marquee,a{
    color: #111;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
aside{
    float: right;
    border-left: 1px solid green;
    max-width: 550px;
    margin: 0;
    padding: 1em;
}
#footer{
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

* {
    box-sizing: border-box;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
    color: #111;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     padding: 20px;
     margin-top: 20px;
}
.car {
     padding: 20px;
     margin-top: 20px;
     width: 500px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: O;
    margin: 0;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .topnav a {
        float: none;
        width:100%;
    }
}
.todo1{
    color: #111;
    font-weight: bold;
}
nav,label,button{
    padding: 0;
    font-size: 15px;
    color: #111;
    text-align: center;
    text-align-last: center;
}
.todoimg{
    float: right;
}